/* ========= contact ========= */

.contacts-title {
    color: #26284b;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .contacts-list {
    list-style: none;
    padding-left: 0;
  }
  
  .contacts-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #26284b;
  }
  
  .contacts-link {
    padding-left: 14px;
    opacity: 0.6;
    color: #26284b;
    text-decoration: none;
  }
  
  .contacts-link:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .activities-list,
  .interests-list {
    padding-left: 20px;
    width: 90%;
    text-align: justify;
    line-height: 1.5;
  }
  
  .activities-list li, .interests-list li {
    margin-top: 5px;
    font-size: 0.9rem;
  }
  
  