* {
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 255, 250);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/* 
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
} */

/* ----------main header----------- */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  min-width: max-content;
  background-color: #26284b;
}

.name {
  color: #fff;;
}

.main-header-span {
  font-family: 'Fasthand', cursive;
  font-weight: lighter;
}

.navbar {
  background-color: #26284b;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar-link {
  color: #fff;
  padding-right: 1rem;
  text-decoration: none;
}

.navbar-about-me {
  min-width: 85px;
}

/* ----------general----------- */

.bright-container, .dark-container{
  padding: 2rem 4rem;
}

.dark-container {
  background-color: #26284b;
  color: #fff;
}

.dark-header {
  color: #26284b;
  text-decoration: underline;
}

.bright-header {
  text-decoration: underline;
}


/* ----------hiding button----------- */

.header-container, 
.header-container div,
.hiding-button {
  display: flex;
  align-items: center;
}

.header-container div {
  padding-left: 1%;
}

.hiding-button {
  margin-bottom: 0;
  height: 15px;
  background-color: transparent;
  border-color: #26284b;
  border-width: 1px;
  border-radius: 4px;
}

.hiding-button i {
  margin: auto;
}

.dark-container .hiding-button {
  border-color: #fff;
}


/* ----------about me section----------- */

#about-me-container {
  display: flex;
}

.photo {
  width: 250px;
  max-height: 322px;
  border-radius: 7px;
  margin-left: 4rem;
}

.about-me-text {
  color: #26284b;
  font-size: 14px;
  text-align: justify;
  line-height: 1.714;
}

/* =================== education section ================== */

.education-degree {
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
}

.education-time {
  margin-top: 6px;
  color: #a09c9c;
  font-size: 12px;
}

/* ----------projects section----------- */

.projects {
  margin-top: 2rem;
}

.project-info, .project-description, .project-link {
  padding-left: 1rem;
}

.project-info-row {
  padding: 0.5rem 0;
  text-align: start;
  vertical-align: top;
  min-width: 160px;
}

.bright-link {
  color: #fff;
  text-decoration: none;
}

/* =================== skills section ================== */

#skills-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-title {
  color: #26284b;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* ----------software&languages----------- */
.skills, 
.activities {
  padding: 5px 0 5px 20px;
  color: #26284b; 
}


.skill-name{
  margin-top: 12px;
  margin-bottom: 4px;
}

.skill-container, .skill {
  height: 1.3rem;
}

.skill-container {
  width: 90%;
  background-color: #ddd; 
  border-radius: 4px;
}

.skill {
  display: flex;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.skill.html {width: 40%; background-color: #2196F3;} 
.skill.css {width: 40%; background-color: #2196F3;} 
.skill.js {width: 35%; background-color: #2196F3;} 
.skill.git {width: 40%; background-color: #2196F3;} 
.skill.eng {width: 70%; background-color: #2196F3;}
.skill.scrum {width: 50%; background-color: #2196F3;}
.skill.kanban {width: 70%; background-color: #2196F3;}
.skill.attention {width: 80%; background-color: #2196F3;}
.skill.communication {width: 80%; background-color: #2196F3;}

.skill p {
  margin: 0;
  padding-left: 3%;
  font-size: 0.9rem;
}

/* ----------activities----------- */

.activities-list {
list-style: none;  
padding-left: 0;
}

.activities-list li {
  display: flex;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #26284b;
  text-align: justify;
}

/* ========= employment section ========= */

.jobs-occupation {
  margin-bottom: 0;
  color: #26284b;
  font-size: 16px;
}

.jobs-time {
  margin-top: 6px;
  color: #595959;
  font-size: 12px;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.accent {
  color: #21d4f3;
}



/* =================== widget ================== */

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 60px;
}

.widget-link {
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0px 8px 8px 0px #4ea5ec;
}

.widget-link:hover {
  box-shadow: 0px 8px 23px 0px #4ea5ec;
}

.widget:hover {
  animation: pulse 1s;
}

/* ========= form ========= */



.form-container {
  background-color: #26284b;
  border-radius: 7px;
}

.form-container h4 {
  margin: 5px auto;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-email-area,
.form-textarea,
.send-button {
  padding: 5px;
  border: 3px solid #2196F3;
  border-radius: 5px;
}

.form-textarea {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
}

.send-button {
  margin: 0 auto;
  width: 20%;
  background-color: #2196F3;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 4px 4px 4px #4ea5ec;
}

.send-button:hover {
  cursor: pointer;
}

.send-button:active {
  cursor: pointer;
  box-shadow: none;
}

/* ============== hiding elements to print pdf file ============== */
/* 
.header-container div,
.widget,
.form-container {
  display: none;
} */